In [1]:
import requests
import csv
import pandas as pd

In [2]:
response = requests.get("https://coronavirus.m.pipedream.net/")
corona_data = response.json()

In [3]:
corona_stats = corona_data['rawData']
len(corona_stats)

4016

In [4]:
corona_stats[0]

{'FIPS': '',
 'Admin2': '',
 'Province_State': '',
 'Country_Region': 'Afghanistan',
 'Last_Update': '2023-03-10 04:21:03',
 'Lat': '33.93911',
 'Long_': '67.709953',
 'Confirmed': '209451',
 'Deaths': '7896',
 'Recovered': '',
 'Active': '',
 'Combined_Key': 'Afghanistan',
 'Incident_Rate': '538.0424508714615',
 'Case_Fatality_Ratio': '3.76985547932452'}

In [5]:
with open('corona_stats.csv', 'w', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=['Country_Region', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio'])
    writer.writeheader()
    for stat in corona_stats:
        country_region = stat['Country_Region']
        confirmed = stat['Confirmed']
        deaths = stat['Deaths']
        incident_rate = stat['Incident_Rate']
        fatality_ratio = stat['Case_Fatality_Ratio']
        
        writer.writerow({'Country_Region':country_region, 'Confirmed':confirmed, 'Deaths':deaths, 'Incident_Rate':incident_rate, 'Case_Fatality_Ratio':fatality_ratio})

In [6]:
df = pd.read_csv('corona_stats.csv')
df

,Country_Region,Confirmed,Deaths,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,209451,7896,538.042451,3.769855
1,Albania,334457,3598,11621.968170,1.075774
2,Algeria,271496,6881,619.132366,2.534476
3,Andorra,47890,165,61981.492267,0.344540
4,Angola,105288,1933,320.352770,1.835917
...,...,...,...,...,...
4011,West Bank and Gaza,703228,5708,13784.956961,0.811686
4012,Winter Olympics 2022,535,0,NaN,0.000000
4013,Yemen,11945,2159,40.048994,18.074508
4014,Zambia,343135,4057,1866.491630,1.182333
4015,Zimbabwe,264276,5671,1778.088529,2.145863

In [9]:
df['Confirmed'].max()

38618509

In [7]:
df['Deaths'].mean()

1713.5966135458168